
/ConsoleApp1/.vs
/ConsoleApp1/ConsoleApp1/bin
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/.vs/ConsoleApp1/v17
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
ConsoleApp1/ConsoleApp1/bin/Debug/net7.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/bin/Debug/net7.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net7.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net7.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net7.0/ref/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net7.0/refint/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj
